<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        img{
            width: 100px;
        }
    </style>
</head>


<body>




<th:block layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-right ">
            <div class="col-8 offset-2">
                <th:block th:if="${responsePageDTO.dtoList != null}">
                    <h1 th:text="${ responsePageDTO.dtoList[0].categ.name +'게시판'}"></h1>

                </th:block>

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/board/listA">통합</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/listB?categ_num=1">자유</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/listB?categ_num=2">꿀팁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/listB?categ_num=3">거래</a>
                    </li>
                    <li class="nav-item btn btn-dark offset-5 mb-3">
                        <a  href="/board/register" style="color: white">글 쓰러가기</a>
                    </li>
                </ul>



                <table class="table">

                    <thead>
                    <th scope="col">글번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성자</th>
                    </thead>

                    <tbody>
                    <th:block  th:each="boardDTO:${responsePageDTO.dtoList}">
                        <tr>

                            <th scope="row offset-4" th:text="${boardDTO.num}"></th>
                            <td><a class="readbtn" th:data-num="${boardDTO.num}" th:href="@{/board/read(num=${boardDTO.num})}">
                                [[${ '[' +boardDTO.categ.name + '] '  +   boardDTO.title}]]
                            </a>
                            </td>
                            <td th:text="${boardDTO.content}"></td>
                            <td th:text="${boardDTO.writer}"></td>
                        </tr>

                    </th:block>



                    </tbody>

                </table>


                <!--검색-->
                <form action="/board/listB" th:object="${requestPageDTO}">  <!--기본메소드 타입이 get   보내는 주소는 listA 현재페이지-->
                    <div class="row">

                        <!--현재페이지에 다시 보낸다. -->
                        <div class="col text-center">
                            <select name="type" th:field="*{type}">            <!--name type 이니까 requestPageDTO에 파라미터 수집예정-->
                                <!-- name type의 값은 option의 value값이 정한다. -->

                                <option value="">검색타입</option> <!--에러예상  null이 아니고 빈값이라서-->
                                <option value="t" >제목</option>
                                <option value="c" >내용</option>
                                <option value="w" >작성자</option>
                                <option value="tc" >제목 + 내용</option>
                                <option value="tw" >제목 + 작성자</option>
                                <option value="tcw" >제목 + 내용 + 작성자</option>
                            </select>
                            <input name="keyword" type="text" th:field="*{keyword}">      <!--검색어 -->
                            <button>검색</button>
                        </div>

                    </div>

                </form>


                <th:block th:if="${responsePageDTO.prev}">
                    <a th:href="@{/board/listB(page=${responsePageDTO.start -1},type=${requestPageDTO.type}, keyword=${requestPageDTO.keyword} ) }">이전</a>
                </th:block>


                <th:block th:each="page : ${#numbers.sequence(responsePageDTO.start, responsePageDTO.end)}">
                    <th:block th:if="${requestPageDTO.page == page}">
                        <a style="color: pink; font-size: 2em" th:href="@{/board/listB(page=${page} ) }"   >[[${page}]]</a>
                    </th:block>
                    <th:block th:if="${requestPageDTO.page != page}">
                        <a th:href="@{/board/listB(page=${page}, type=${requestPageDTO.type}, keyword=${requestPageDTO.keyword} ) }"   >[[${page}]]</a>
                    </th:block>
                </th:block>

                <th:block th:if="${responsePageDTO.next}">
                    <a th:href="@{/board/listB(page=${responsePageDTO.end + 1},type=${requestPageDTO.type}, keyword=${requestPageDTO.keyword} ) }"> 다음</a>
                </th:block>



            </div>





        </div>
    </div>


</th:block>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>