<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row justify-content-right ">
        <div class="col-8 offset-2">
            <h1>상세보기 페이지</h1>
            <a th:href="${'/board/listA?' +requestPageDTO.link}">글 목록 이동</a>

                글번호 : <span th:text="${boardDTO.num}"></span><br>
                글제목 : <span th:text="${boardDTO.title}"></span><br>
                글내용 : <span th:text="${boardDTO.content}"></span><br>
                글작성자 : <span th:text="${boardDTO.writer}"></span><br>

            <a th:href="${'/board/modify?num=' + boardDTO.num + '&'+ requestPageDTO.link}">수정하기</a>



        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>