<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"


>
<head>


    <meta charset="UTF-8">
    <title>My Page✏</title>

    <style>
        img{
            width: 100px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content" >
    <h1>My Page✏</h1>
    <form action="/user/update" method="post">
        <div class="col">
            <div class="row">
            </div>
            <div class="row offset-11">
                <div >
                    <a><button type="submit" class="btn btn-primary">저장</button></a>
                </div>
            </div>
        </div>
    </form>







</th:block>






</body>
</html>